html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#Legend {
    z-index: 1;
    position: fixed;
    right: 25px;
    bottom: 17px;
    font-size:12px;
}

#Legend span {
    min-width: 100px;
    display: inline-block;
    margin-left: 10px;
}

table tr.Delete, span.Delete {
    background-color: #fb9292;
}


table tr.Update, span.Update {
    background-color: #f9d68a;
}

table tr.Create, span.Create {
    background-color: #85c2ff;
}

#Save, #Cancel, #Pending {
    margin-left: 5px;
}

.Index th {
    vertical-align: middle;
}

table {
    font-size: small;
}

table.tablesorter {
    margin: 10px 0pt 15px;
    width: 100%;
    text-align: left;
    white-space: nowrap;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #ffffffad;
    border: 1px solid #FFF;
    padding: 4px;
    vertical-align: middle;
    padding-bottom: 12px;
}

table.tablesorter thead tr th.headerSort{
    background-image: url(../bg.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer;
}
table.tablesorter thead tr th a{
    display:block;
    text-decoration:none;
    color:black;
}


table .tablesorter tbody td {
    vertical-align: middle;
    white-space: nowrap;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../asc.gif) !important;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../desc.gif) !important;
}

#Leegend td {
    white-space: nowrap;
}

footer {
    position: fixed !important;
    background-color: #060606a3;
    z-index: auto;
}