@model MTGWebUI.Models.EmployeeVM

@{
    ViewData["Title"] = "Delete employee";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <h2>Delete confirmation for employee @Model.FirstName @Model.LastName</h2>

        <hr />
        <div class="row">
            <div class="col-md-8 offset-2">
                @await Html.PartialAsync("_EmployeeReadOnly", Model)
                <form asp-action="Delete">
                    <div class="form-group mt-2">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @if (!string.IsNullOrWhiteSpace(ViewData["Reffer"]!.ToString()))
                        {
                            <a class="btn btn-outline-secondary float-end" href="@ViewData["Reffer"]">Cancel</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-secondary float-end" asp-action="Index">Back to List</a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
