@model MTGWebUI.Models.EmployeeVM

@{
    ViewData["Title"] = "Employee details";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <h2>Details of employee @Model.FirstName @Model.LastName</h2>

        <hr />
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="StreetName" class="control-label"></label>
                    <input asp-for="StreetName" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="HouseNumber" class="control-label"></label>
                    <input asp-for="HouseNumber" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="ApartmentNumber" class="control-label"></label>
                    <input asp-for="ApartmentNumber" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Town" class="control-label"></label>
                    <input asp-for="Town" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" readonly/>
                </div>
                <div class="form-group mt-2">
                    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }, new {@class="btn btn-warning" })
                    <a class="btn btn-outline-secondary float-end" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

