@model IEnumerable<MTGWebUI.Models.EmployeeVM>

@{
    ViewData["Title"] = "Pending";
}
<div class="row text">
    <div class="col-md">
        <h2>Pending changes</h2>

        <hr />
        <div class="row">
            <div class="col-md">
                <table class="table">
                    <thead>
                        <tr>
                            @await Html.PartialAsync("_EmployeesListHeaders", Model)
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                            <tr class="@item.State.ToString()">
                            @await Html.PartialAsync("_EmployeesListRow", item)
                        </tr>
                }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group mt-2 float-end">
                    <a class="btn btn-outline-secondary float-start" asp-action="Index">Back to List</a>
                    <form asp-action="Save">
                            <button id="Save" type="submit" class="btn btn-success float-end">Save</button>
                    </form>
                    <form asp-action="Cancel">
                            <button id="Cancel" type="submit" value="Discard" class="btn btn-danger float-end">Discard</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_LegendFloat", Model)