@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Requested page not found</h1>
        <hr />
        <a class="btn btn-outline-info" asp-controller="Employee" asp-action="Index">Back to list</a>
    </div>
</div>